/* Reset style */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    background: #dfe7ef;
    font-family: sans-serif;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}
  
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 15px;
}

.car-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.car-cards .card {
    max-width: 250px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 15px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 25px 0px rgba(168,168,168,0.5);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.car-cards .card:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.car-cards .card h2 {
    margin-bottom: 10px;
}

.car-cards .card img {
    width: 100%;
    border-radius: 15px;
}

.car-cards .card .car-info {
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .car-cards {
        flex-direction: column;
    }
    .car-cards .card {
        margin: 15px 0;
    }
}